@import '../../../02_Styles/variables';


.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid $borderColor;
  color: $successActive;
  font-size: 14px;
}


.breadcrumbs__link,
.breadcrumbs__item
{
  text-transform: capitalize;
}

.pageTitle {
  text-transform: uppercase;
  letter-spacing: .8px;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item:not(:last-of-type)::after {
  content: '\003e';
  margin: 0 5px;
}

.breadcrumbs__link {
  text-decoration: none;
  text-transform: capitalize;
}

.activeBreadcrumb:hover {
  text-decoration: underline;
}