@import './../../../02_Styles/newVariables.scss';

.container {
  display: flex;
}

// Left side
.orderLeft {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  background-color: red;
  flex: 5;
  text-align: center;
}
.leftWrapper {
  background-color: #09c;
  padding: 50px;
  width: 70%;
  height: 100vh;
}
.askForLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $color--grey;
  border-radius: 10px;
  padding: 20px 50px;
}

.name {
  display: flex;
  justify-content: space-between;
  & input {
    width: 99%;
  }
}

// Right side
.orderRight {
  height: 100vh;
  flex: 4;

  background-color: $color--light;
}
