@import './../../../02_Styles/variables';


.textareaField,
.inputField {
  border-radius: 3px;
}
.textareaField {
  min-width: 400px;
  min-height: 100px;
  overflow: hidden;
  padding: 3px;
  vertical-align: top;
}

.inputField {
  position: absolute;
  top: 0;
  border: 0;
  padding: 12px;
}