@import '../../../../02_Styles/variables.scss';
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  // min-width: 900px;
  &__title {
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: $letter-spacing;
    line-height: 30px;
    &.light_mode {
      color: $D-dark;
    }
    &.dark_mode {
      color: $D-light;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    height: 100%;

    &__links {
      display: flex;
      align-items: center;
      height: 24px;
      .link__icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
      .link__icon__notification {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          right: 3px;
          top: 3px;
          background: $D-green;
          border-radius: 50%;
        }
      }
    }
    &__divider {
      height: 100%;
      width: 1px;
      margin: 0 32px;
      &.light_mode {
        background: $D-dark;
      }
      &.dark_mode {
        background: $D-light;
      }
    }
    &__profile {
      display: flex;
      align-items: center;

      .profile__name {
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        margin-right: 24px;
        letter-spacing: $letter-spacing;
        &.light_mode {
          color: $D-dark;
        }
        &.dark_mode {
          color: $D-light;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      .profile__img {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 24px;
        img {
          width: 100%;
          height: auto;
          border-radius: 50%;
        }
      }
    }
  }
}
