@import './../../../../02_Styles/variables.scss';

.container {
  margin: 5px;
  width: 100%;
}
.image:not(:last-of-type) {
  margin-right: 10px;
}
.image{
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

.buttons{
  max-width: 400px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  @include breakpoint(480){
    flex-direction: row;
  }

  & input:not(:last-child){
    margin-right: 20px;
    margin-bottom: 20px;
    @include breakpoint(480){
      margin-bottom: 0;
    }

  }
}
.colors {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  &:not(:last-child){
    margin-right: 20px;
  }
}
