@import '../../../02_Styles/variables';

.container {
  position: relative;
}

.cart {
  //background: papayawhip;
  text-align: center;
}

// Product list
.productList {
  width: 100%;
  margin-top: 50px;

  .productItem {
    //background: powderblue;
    border-bottom: 1px solid $borderColor;


    padding: ($base * 2) 0;

    .top {
      display: flex;
      justify-content: space-between;
    }

    .bottom {
      text-align: left;
      margin-top: 10px;

      .name {
        word-break: break-word;
      }

    }

    .product {
      width: $base * 10;
      margin-right: $base*2;


    }

    .info {
      align-self: flex-start;
      //background: #00b4b5;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .productQuantitySelect {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;
        border: 1px solid $borderColor;
        //@include breakpoint(576) {
        //  width: 100px;
        //}

        & .plus,
        & .minus {
          cursor: pointer;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $borderColor;

          &:hover {
            color: $success;
          }
        }
      }


    }
  }

  .removeFromCart {
    display: inline-block;
    margin-top: 10px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: $danger;
    }
  }
}
.checkout:not(:last-of-type) {
}
.checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 40px 0;
  & div:not(:last-of-type){
    margin-bottom: 20px;

  }
  & a {
    font-weight: 500;
    text-transform: capitalize;
  }

  .checkoutBtn{
    width: 200px;
  }
}
// Empty Cart
.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0;

  .emptyCartHeader {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .emptyCartText {
    margin-bottom: 50px;
    font-weight: normal;
  }
  & a {
    max-width: 200px;
  }
}

.prices {
  margin-top: 10px;
}
