@import '../../../02_Styles/variables';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #74959a;
  position: relative;
}

.footer {
  padding: 100px 0 25px 0;
  width: 1000px;
  margin: 0 1.5rem;

  &__newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

    &__headline {
      color: green;
      font-size: 1.6rem;
      letter-spacing: $letterSpacing;
    }
    span {
      color: green;
      font-size: 1.1rem;
      margin-bottom: 20px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        width: 100%;
        cursor: pointer;
      }
      @include breakpoint(md) {
        button {
          max-width: 150px;
        }
        flex-direction: row;
      }
      input,
      button {
        letter-spacing: $letterSpacing;
        font-family: inherit;
        font-size: 1.1rem;
        margin-bottom: 20px;
        padding: 20px 20px;
        border-radius: $bRadius5;

        @include breakpoint(md) {
          width: 300px;
          margin-bottom: 0;
          margin-right: 20px;
        }
        &:focus {
          outline: 0;
        }
      }
    }
  }
  &__content {
    width: 100%;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
    margin-bottom: 20px;
    @include breakpoint(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(md) {
      grid-template-columns: repeat(4, 1fr);
    }
    &__col {
      height: 100%;
      &__headline {
        color: green;
        font-size: 1.6rem;
        margin-bottom: $spacing-md;
        letter-spacing: $letterSpacing;
      }

      &__links {
        li {
          margin-bottom: $spacing-sm;
          a {
            letter-spacing: $letterSpacing;
            width: 100%;
            color: green;
          }
        }
      }
    }
  }
  &__base {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    color: green;
    @include breakpoint(md) {
      flex-direction: row;
    }
    a {
      color: green;
      text-transform: uppercase;
    }
    a,
    &__year,
    ul {
      &:not(:first-child) {
        margin-bottom: $spacing-sm;
        @include breakpoint(md) {
          margin-bottom: 0;
        }
      }
      @include breakpoint(md) {
        flex: 1;
      }
    }
    &__year {
      display: flex;
      justify-content: center;
      letter-spacing: $letterSpacing;
      font-size: 0.9rem;
    }
    &__socials {
      display: flex;
      justify-content: flex-end;
      li {
        list-style: none;
        &:not(:last-child) {
          margin-right: $spacing-md;
          @include breakpoint(md) {
            margin-right: $spacing-sm;
          }
        }
        a {
          font-size: 1.6rem;
          color: green;
        }
      }
    }
  }
}
