@import '../../../02_Styles/newVariables.scss';

.container {
  width: 400px;
  background-color: $grey;
  border-radius: $bRadius10;
  padding: 18px 25px 20px;
  border: none;
  margin: $m20; // delete
  h2 {
    font-weight: $fw600;
    font-size: $fz1comma2;
  }
  textarea {
    margin-top: $m20;
    width: 100%;
    height: auto;
    max-height: 300px;
    outline: none;
    border-radius: $bRadius5;
    border-color: $main;
    padding: 15px;
    font-size: 25px;
    color: $main;
    resize: none;
    &:is(:focus, :valid) {
      border-color: $main;
      padding: 14px;
      border-width: 2px;
    }
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
