@import './../../../02_Styles/variables.scss';


.productCard {
  width: 100%;
  text-transform: uppercase;
  position: relative;
  margin: $offset;
  box-shadow: $boxShadow;
  border-radius: $bRadius;
  cursor: pointer;
  transition: all .5s ;
  text-align: center;

;
  &:hover {
    transform: translateY(-3px);
    box-shadow: $boxShadowHover;
  }
  @include breakpoint(768){
    margin-bottom: 10px;
    width: calc(100% / 2 - (#{$offset}*2));
  }
  @include breakpoint(1024){
    width: calc(100% / 4 - (#{$offset}*2));
  }
}

.productCard img {
  border-top-left-radius: $bRadius;
  border-top-right-radius: $bRadius;
}


.name,
.price,
{
  margin-top: 10px;
}

