@import '../../../02_Styles/variables';

.container {
  font-size: .8em;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 1px solid $greyLight;
}
.activeStep a {
  color: $greenLight;
}

.activeStep a::after {
  content: '\003e';
  margin: 0 5px;
}
.passiveStep {
  color: $grey;
}
.passiveStep:not(:last-child)::after {
  content: '\003e';
  margin: 0 5px;
}