@import '../../../02_Styles/variables';


.discount,
.accordionHeader,
.askForLogin,
{
  border-bottom: 1px solid $borderColor;
}

.container {
  display: flex;
  flex-direction: column;
  @include breakpoint(768) {
    max-width: 800px;
  }
  @include breakpoint(992) {
    max-width: 1240px;
    flex-direction: row;
    @include breakpoint(1200) {

    }
  }
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 40px;
  padding: 25px 0;
  @include breakpoint(992) {
    display: none;
  }

  & i {
    margin-right: 20px;
  }
}


.collectData {
  padding: 10px 0;
  @include breakpoint(992) {
    order: -1;
    flex: 4;
    margin-right: 10px;
  }
}

.form {
  .customerDataTitle {
    margin: 10px 0;
    font-size: 1rem;
  }

  .subscribe input {
    margin-right: 10px;
  }

  .formSubmitButtons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    & input {
      width: 35%;
    }
  }

}


.askForLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  & input {
    width: 35%;
  }
}


.orderSummary {
  transition: height 0.4s ease-in-out;
  overflow: hidden;
  margin-left: 10px;
  @include breakpoint(768) {

  }
  @include breakpoint(992) {
    flex: 4;
  }

  .discount {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;

    .discountCode {
      border: 1px solid $borderColor;
    }

    & input {
      width: 35%;
    }
  }
}

.orderItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  .orderItemImage {
    position: relative;
    width: 20%;

    & img {
      width: 100%;
      height: auto;
      border-radius: $bRadius;
    }
  }

  .orderItemQuantity {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    top: -5px;
    right: -5px;
    color: $white;
    background-color: $successActive;
    height: 25px;
    width: 25px;
    border-radius: 50px;
  }
}

.shippingPrice,
.subTotalPrice {
  display: flex;
  justify-content: space-between;
}

.subTotalPrice {
  align-items: center;
  padding: 10px 0;

}
