@import '../../../02_Styles/variables';

.authContainer {
  max-width: 340px;
  border-radius: $bRadius;
  padding: 10px;
  box-shadow: $boxShadow;
}

.signInTitle, .signInSubtitle, .restorePasswordLink {
  color: $success;
}

.signInSubtitle {
  margin-top: 10px;
}


.form {
  margin-top: 20px;
}

.rememberRestore {
  display: flex;
  justify-content: space-between;
}

.rememberRestore input {
  margin-right: 5px;
}


.signInWith {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.signInWith::before,
.signInWith::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100px;
  background: $borderColor;

}

.signInWith::before {
  left: 0;
  top: 8px;

}

.signInWith::after {
  right: 0;
  top: 8px;
}

.socialsSignIn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.googleIcon{
  color: $white;
  background-color: $success;
  padding: 10px;
  border-radius: $bRadius;
}
.googleIcon:hover{
  background-color: $white;
}


.signUpLink{
  margin-top: 20px;
  align-content: flex-start;
}
.signUpLink a{
  color: $successActive;
  text-decoration: underline;
}
