@import '../../../02_Styles/variables';

.gallery {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  & div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

  }
}
.editIcons{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, .5);
  padding: 10px;
  border-radius: $bRadius;
  cursor: pointer;

}

/***** stretch vertically *****/
.v_stretch {
  position: relative;

  grid-row: span 1;
  @include breakpoint(560) {
    grid-row: span 2;
  }

}

/***** stretch horizontally *****/
.h_stretch {
  position: relative;

  grid-column: span 1;
  @include breakpoint(560) {
    grid-column: span 2;
  }
}

/***** stretch vertically & horizontally *****/
.big {
  position: relative;

  grid-row: span 1;
  grid-column: span 1;
  @include breakpoint(560) {
    grid-row: span 2;
    grid-column: span 2;
  }
}
.small {
  position: relative;
}
.editModal,
.modal {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .4s ease, transform .4s ease-in-out, visibility .4s ease;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 500;

}
.editModal{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  border-radius: $bRadius;
  margin: auto auto;
  max-width: 50%;
  max-height: 70%;
  &.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}
.modal,
{
  width: 100%;
  height: 100vh;
  background-color: #000;
  &.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  & .imageWrapper{
    & p:first-child {
      font-size: 20px;
      font-weight: 100;
    }
    & p {
      margin-top: 20px;
      font-weight: 100;
      color: $white;
    }
  }

}


.closeImage,
.closeEdit{
  height: 20px;
  width: 50px;
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
  transition: transform .5s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
.closeImage,{
  color: $white;
}

.form {
  text-align: left;
  .radioWrapper {
    .radioItem:not(:last-of-type) {
      margin-bottom: 10px;
    }
    & input {
      margin-right: 10px;
    }

  }
  & p, .file {
    margin-top: 20px;
  }
  & .buttons{
    display: flex;
  }
}
