@import '../../../../02_Styles/variables.scss';

.productsales {
  flex: 4;
  height: 100%;
  border-radius: $borderRadius;
  padding: 32px;
  margin-right: 40px;
  &.light_mode {
    background: $D-light;
    border: 1px solid $D-dividerLineDark;
  }
  &.dark_mode {
    background: $D-lightBlack;
    border: 1px solid $D-dividerLineLight;
  }

  &__header {
    display: flex;
    margin-bottom: 24px;

    &__title {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: $letter-spacing;
      line-height: 25px;
      &.light_mode {
        color: $D-dark;
      }
      &.dark_mode {
        color: $D-light;
      }
    }
  }
}
