@import '../../../../02_Styles/variables';

.leftWrapper,
.rightWrapper {
  margin: 50px 0;
  transition: all .5s;
  @include breakpoint(600) {
    margin-bottom: 350px;
    position: relative;
  }
}

.leftWrapper .promoDescription,
.rightWrapper .promoDescription {
  transition: all .5s;
  padding: 20px 0;
  width: 100%;
  min-height: 300px;
  @include breakpoint(600) {
    text-align: right;
  }
  @include breakpoint(768) {
    width: 85%;
  }
  @include breakpoint(992) {
    width: 63%;
  }
  @include breakpoint(1200) {
    width: 73%;
  }
}
.leftWrapper .promoDescription{
  @include breakpoint(600) {
    text-align: left;
  }
}
.rightWrapper .promoDescription{
  @include breakpoint(768) {
    margin-left: auto;
  }
}

.titleLeft,
.titleRight {
  text-transform: uppercase;
  align-self: center;
  font-size: 1.5rem;
}

.descriptionItemLeft,
.descriptionItemRight {
  margin: 20px 0;
  @include breakpoint(992) {
    max-width: 72%;
  }
}

.descriptionItemRight {
  @include breakpoint(992) {
    margin-left: auto;
    text-align: left;
  }
}
.leftWrapperImage,
.rightWrapperImage{
  transition: all .3s;
  box-shadow: $boxShadow;
  @include breakpoint(600) {
    position: absolute;
    width: 400px;
    bottom: -330px;
  }
  @include breakpoint(992) {
    width: 500px;
    bottom: -228px;
  }


}
.leftWrapperImage {

  @include breakpoint(600) {
    right: 0;
  }
}
