@import './../../../02_Styles/newVariables.scss';
.sliderContainer {
  width: 300px;
  max-width: 300px;
  overflow: hidden;
  cursor: pointer;
  touch-action: pan-x; // Mobile browser touch action
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderList {
  display: flex;
  min-width: 100%; // If image will be less than container, then it take size of container.
  transition: transform 0.3s ease-out;
  &.swiping {
    transition: none;
  }
}

.sliderItem {
  width: 100%;
  flex-shrink: 0;
}

.sliderImage {
  width: 100%;
  height: auto;
  user-select: none;
}

.sliderIndicator {
  display: flex;

  &Item{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $color--grey;
    margin: 10px 10px 0 0;
    cursor: pointer;
    &.active {
      background-color: #09c;
    }
  }

}

