
@import '../../../02_Styles/variables';

.scroll {
  position: relative;
  width: 100%;
  overflow: auto;
  z-index: 1;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &.light_mode::-webkit-scrollbar-track {
    background: green;
  }
  &.dark_mode::-webkit-scrollbar-track {
    background: green;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: $borderRadius;
  }
  &.light_mode::-webkit-scrollbar-thumb {
    background: green;
  }
  &.dark_mode::-webkit-scrollbar-thumb {
    background: green;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: $borderRadius;
  }

  .light_mode {
    ::-webkit-scrollbar-track {
      background: red;
    }
    ::-webkit-scrollbar-thumb {
      background: green;
    }
  }
  .dark_mode {
    ::-webkit-scrollbar-track {
      background: green;
    }
    ::-webkit-scrollbar-thumb {
      background: green;
    }
  }
}

.container {
  margin-left: 10px;
  width: calc(100% - 15.875rem);

  padding: 40px 120px;

  &.light_mode {
    background: green;
  }
  &.dark_mode {
    background: green;
  }
}

.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__footer {
    display: flex;
    margin-top: 40px;
  }
}
