@import '../../../02_Styles/variables';

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 100;
  color: $color--light;
  letter-spacing: $letter-spacing;
  cursor: pointer;
  @include breakpoint(768) {
    font-size: 2rem;
  }
  & .logoTitle {
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    padding: 10px;
    font-size: 0.69rem;
    text-align: center;
    @include breakpoint(768) {
      font-size: 0.9rem;
    }
    @include breakpoint(768) {
      margin-bottom: 10px;
    }
  }
}

.header {
  // mobile
  background: $color--grey;
  width: 100%;
  padding: 2rem 1.5rem 1rem 1.5rem;
  transition: 0.3s ease all;
  // desktop
  // @include breakpoint(768) {
  // }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    color: $color--light;
    margin: 0 auto;
    max-width: 600px;
    height: 100%;
    position: relative;
    z-index: 100;
    // desktop
    @include breakpoint(768) {
      max-width: 700px; // todo calc от кароточек товара
    }
    @include breakpoint(992) {
      flex-direction: column;
      max-width: 992px; // todo calc от кароточек товара
    }

    .menu {
      // mobile
      top: 0;
      right: 100%;
      bottom: 0;
      width: 100%;
      height: 100vh;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: rgba($color--dark, 0.9);
      backdrop-filter: blur(2px);
      transform: translate(0);
      transition: 0.3s ease transform;
      letter-spacing: $letter-spacing;

      // until 992
      @include breakpoint(992) {
        flex-direction: row;
        transform: none;
        background: transparent;
        width: auto;
        height: 100%;
        position: static;
      }

      ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: $spacing-lg;
        @include breakpoint(768) {
          flex-direction: row;
          align-items: center;
          // margin-bottom: 0;
          margin-right: calc(0.5rem + #{$spacing-md});
        }
        li {
          &:not(:last-child) {
            margin-bottom: $spacing-lg;
            @include breakpoint(768) {
              margin-bottom: 0;
              margin-right: $spacing-md;
            }
          }
          a {
            color: inherit;
            padding: 0.75rem 1.25rem;
            border-radius: $bRadius5;
            transition: 0.3s ease all;

            &:hover {
              background: rgba($color--light, 0.1);
            }
            &:active {
              border-radius: calc(#{$bRadius5} + 6px);
              background: linear-gradient(rgba($color--light, 0.1), rgba($color--light, 0.2));
            }
          }
        }
      }

      // button {
      //   cursor: pointer;
      //   outline: none;
      //   padding: 0.75rem 1.25rem;
      //   border-radius: $bRadius5;
      //   font-size: 1rem;
      //   font-family: inherit;
      //   background: $color--dark;
      //   color: $color--dark;
      //   border: 1px solid transparent;
      //   transition: 0.3s ease all;
      //   &:hover {
      //     border-color: $color--light;
      //     background: rgba($color--light, 0.1);
      //     color: $color--light;
      //   }
      //   &:active {
      //     border-color: $color--light;
      //     background: linear-gradient(rgba($color--light, 0.2), rgba($color--light, 0.3));
      //     color: $color--light;
      //   }
      // }
      &.isMenu {
        transform: translate(100%);
      }
    }
    &__toggle {
      cursor: pointer;
      // display: flex;
      // align-items: center;
      font-size: 2rem;
      transition: 0.3s ease all;
      position: relative;
      &:hover {
        color: $color--light;
      }
      @include breakpoint(992) {
        display: none;
      }
    }
  }
}

.temp1,
.temp2 {
  background-color: none;
  width: 50px;
  height: 50px;
}

.temp2 {
  background-color: $color--grey;
}
