@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

// Colors
$color--dark: #181a1b;
$color--grey: #494f52;
$color--light: #e8e6e3;
$color--golden: #81786a;
$color--green: #226057;
$color--error: #a02718;

// Border radius
$bRadius10: 10px;
$bRadius5: 5px;

// spacing
$spacing-sm: 12px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 64px;

// Header
$headerHeight: 120px;

// Font size
$fz-sm: 0.5rem;
$fz-md: 1rem;
$fz-lg: 1.5rem;
$fz-xl: 2rem;

$letter-spacing: 2px;

// To remove
$main: #09c;
$hover: #f2994a;
$light: #fff;
$grey: #c2c2c2;
$error: #eb5757;
$success: #33c863;

$fw100: 100;
$fw400: 400;
$fw700: 700;

$m10: 10px;
$m20: 20px;

@mixin breakpoint($point) {
  @if $point == 1400 {
    @media (min-width: 1400px) {
      @content;
    }
  } @else if $point == 1200 {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == 992 {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == 768 {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == 576 {
    @media (min-width: 576px) {
      @content;
    }
  }
}
