@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@200;400;500&display=swap');

$base: 10px;
$offset: 10px;

$Poppins: 'Poppins', sans-serif;
$letterSpacing: 1px;
$boxShadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
$boxShadowHover: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
$bRadius: 5px;
$headerHeight: 120px;
$loaderColor: #00b4b5;




// Section vertical padding
$sectionVerticalPaddingMobile: 40px 0;
$sectionVerticalPaddingDesktop: 80px 0;

// Colors
$footerBg: #1b1c1c;
$borderColor: #a8aaae;
$success: #0ebeb0;
$successHover: #0ca296;
$successActive: #0a8f85;
$danger: #C95445;
$dangerHover: #Ba4536;
$dangerActive: #B13c34;
$white: #f3f3f3;
$textColor: #1b1c1c;


@mixin breakpoint($point) {
  @if $point == 1400 {
    @media (min-width: 1400px) {
      @content;
    }
  } @else if $point == 1200 {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == 1024 {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == 992 {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == 768 {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == 600 {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $point == 480 {
    @media (min-width: 480px) {
      @content;
    }
  }
}
