@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

$Roboto: 'Roboto', sans-serif;

// Adaptive
$mediaMax480:  80%;
$mediaMax768:  80%;
$mediaMax1024: 80%;
$mediaMax1200: 80%;
$mediaMin1201: 80%;

// Section vertical padding
$sectionVerticalPaddingMobile: 40px 0;
$sectionVerticalPaddingDesktop: 80px 0;

// Colors
$color--dark: #181a1b;
$color--grey: #494f52;
$color--light: #e8e6e3;
$color--golden: #81786a;
$color--success: #226057;
$color--error: #a02718;
$color--border: #dedede;

// Border radius
$bRadius10: 10px;
$bRadius5: 5px;

// spacing
$spacing-sm: 12px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 64px;

// Font weight
$fw-sm: 100;
$fw-md: 400;
$fw-lg: 700;

// 01_Header
$headerHeight: 120px;

// Font size
$fz-sm: 0.5rem;
$fz-md: 1.2rem;
$fz-lg: 1.5rem;
$fz-xl: 2rem;
$fz-xxl: 2.5rem;

$letter-spacing: 2px;

$borderRadius: 12px;


$m10: 10px;
$m20: 20px;

@mixin breakpoint($point) {
  @if $point == 1400 {
    @media (min-width: 1400px) {
      @content;
    }
  } @else if $point == 1200 {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == 992 {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == 768 {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == 480 {
    @media (min-width: 480px) {
      @content;
    }
  }
}
