@import './../../../02_Styles/variables.scss';

.success,
.danger {
  color: $white;
  padding: 10px;
  border-radius: $bRadius;
  cursor: pointer;
}
.success {
  background-color: $success;
  &:hover {
    background-color: $successHover;
  }

  &:active {
    background-color: $successActive;
  }
}

.danger {
  background-color: $danger;

  &:hover {
    background-color: $dangerHover;
  }

  &:active {
    background-color: $dangerActive;
  }
}
