@import './../../../02_Styles/variables.scss';

.success {
  width: 100%;
  color: $white;
  background-color: $success;
  padding: 10px;
  border-radius: $bRadius;
  cursor: pointer;

  &:hover {
    background-color: $successHover;
  }

  &:active {
    background-color: $successActive;
  }
}

.danger {
  width: 100%;
  color: $white;
  background-color: $danger;
  padding: 10px;
  border-radius: $bRadius;
  cursor: pointer;

  &:hover {
    background-color: $dangerHover;
  }

  &:active {
    background-color: $dangerActive;
  }
}
