@import '../../../02_Styles/variables';

.container {
  width: 90vw;
  margin: 0 auto;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartHeader {
  margin-top: 20px;
  font-size: $fz-lg;
  @include breakpoint(576) {
    margin-top: 50px;
    font-size: $fz-xl;
  }
}

.cartDeliveryMessage {
  margin-top: 20px;
  font-size: $fz-md;
  @include breakpoint(576) {
    margin-top: 50px;
  }
}
.emptyCart {
  display: flex;
  flex-direction: column;
  height: 50vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0;
}
.emptyCartHeader {
  font-size: $fz-lg;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.emptyCartText {
  margin-bottom: 50px;
  font-size: $fz-md;
  font-weight: normal;
}

// Product list
.productList {
  width: 100%;
  margin-top: 50px;
  border-bottom: 1px solid $color--grey;
}
.productListHeader {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid $color--grey;
}

.productNameWrapper {
  display: flex;
  align-items: center;
}
.productName img {
  width: 70px;
  margin-right: 10px;
  @include breakpoint(992) {
    margin-right: 50px;
  }
}
.productNameTitle {
  text-transform: uppercase;
  color: $color--dark;
}
.headerProduct,
.productName {
  flex: 2;
}

.headerTotal,
.productPrice {
  flex: 1;
  text-align: right;
}
.productPrice {
  @include breakpoint(768) {
    font-size: $fz-md;
  }
}

.productQuantity,
.headerQuantity {
  flex: 1;
  text-align: center;
  font-size: 0.8rem;
  @include breakpoint(576) {
    font-size: 1rem;
  }
}

.productQuantity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productItem {
  display: flex;
  align-items: center;
  padding: 25px 0;
  font-size: 0.8rem;
  @include breakpoint(576) {
    font-size: 1rem;
  }
}

.removeFromCart {
  margin-top: 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  @include breakpoint(576) {
    font-size: 1rem;
  }
  @include breakpoint(992) {
    border-bottom: 3px solid $color--grey;
    &:hover {
      border-color: $color--light;
      color: $color--light;
    }
  }
}

.checkout {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  @include breakpoint(576) {
    align-items: end;
    padding: 40px 0;
  }
}

.checkoutText,
.checkoutTerms,
.checkoutPrice,
.checkout button {
  margin-top: 20px;
  font-size: $fz-md;
  text-align: center;
}
.checkoutTerms {
  display: flex;
  align-items: center;
  & div {
    cursor: pointer;
  }
}
.checkoutTerms span {
  font-weight: $fw-lg;
}
.checkoutTerms a {
  color: $color--dark;
}

.productQuantitySelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  font-size: 0.8rem;
  height: 35px;
  border: 1px solid $color--grey;
  @include breakpoint(576) {
    width: 100px;
  }

  & .plus,
  & .minus {
    cursor: pointer;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
