@import '../../../02_Styles/variables';

.container {

}

.product {
  display: flex;
  flex-direction: column;
  @include breakpoint(992) {
    flex-direction: row;
    align-items: start;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  @include breakpoint(992) {
    margin-left: 50px;
    padding: 0;
  }
}

.name {
  text-transform: uppercase;
  margin-bottom: 30px;
}
.description {
  margin-bottom: 30px;
}

