@import './../../../02_Styles/variables.scss';

.container {
  display: flex;
}
.profile {
  padding: 50px;
  background-color: wheat;
  flex: 1;
}
.orders {
  padding: 50px;
  background-color: antiquewhite;
  flex: 1;
}
