@import '../../../02_Styles/variables';

.field {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  &.shake {
    animation: shake 0.3s ease-in-out;
  }
}
@keyframes shake {
  20%,
  80% {
    margin-left: -4px;
  }
  40%,
  60% {
    margin-left: 4px;
  }
}
.errorText {
  position: absolute;
  right: 0;
  color: $danger;
  margin: 5px 0;
  text-align: left;
  font-size: 0.8rem;
}
.inputArea{
  text-align: left;
}


.borderError {
  border-color: $danger;
}
