@import './../../../02_Styles/newVariables.scss';

.field {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  & i {
    display: none;
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    // font-size: $fz-md;
    // pointer-events: none;
  }
  &.shake {
    animation: shake 0.3s ease-in-out;
  }
}
@keyframes shake {
  20%,
  80% {
    margin-left: -12px;
  }
  40%,
  60% {
    margin-left: 12px;
  }
}

.icon {
  left: 15px;
  color: #d6d6d6;
}

.errorIcon {
  right: 15px;
  color: $color--error;
}
.errorText {
  position: absolute;
  color: $color--error;
  margin: 5px 0;
  text-align: left;
}

.input {
  height: 50px;
  width: 100%;
  border: 1px solid #d6d6d6;
  border-radius: $bRadius5;
  padding: 0 10px;
  // padding: 0 45px;
  font-size: 0.9rem;
  &::placeholder {
    color: #737373;
    font-size: 0.9rem;
  }
}

// Если написать этот класс выше, то .input перезатрет стили
.borderError {
  border-color: $color--error;
}
